# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
ENV/

# Environment variables — NEVER commit this
.env

# dbt
dbt_project/profiles.yml
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
.dbt/

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Pytest
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Spark
derby.log
metastore_db/
spark-warehouse/

# Logs
logs/
*.log